*.jar
*.war
*.ear
*.class
*.iml
/target/
.project
.metadata
bin/**
tmp/**
tmp/**/*
.classpath
.settings/*
.idea/
generated/
.DS_Store
src/main/docs
.m2
.scannerwork
repository
.m2/
.repository/
.scannerwork/
_sonar/
repository/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
